@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
</div>

<p>In vielen schulischen, aber auch beruflichen Situationen sind deine Fähigkeiten in Sachen Sprechen und Zuhören gefordert. Hier lernst du, wie du dich in den verschiedenen Gesprächs- oder Vortragssituationen verhalten solltest: von der Buchvorstellung bis hin zum Referat, vom Gedichtvortrag bis zur Rede. Auch lernst du Kommunikationsmodelle kennen, um Gespräche besser analysieren zu können. Auch das genaue Zuhören trainierst du hier, indem du längeren Hörtexten Informationen entnimmst oder Schlussfolgerungen ziehst.</p>
<p>Im Lernbereich Sprache und Sprachgebrauch untersuchen geht es um alle grammatischen Themen, die du aus dem Unterricht kennst, und lernst alle Fachbegriffe kennen: Du beschäftigst dich mit Wortarten, Satzgliedern, Satzarten und übst, wie du mit dem Konjunktiv umgehen musst. Auch deine Kenntnisse zum Sprachgebrauch sind gefragt. Du beschäftigst dich mit Sprachvarianten, wie z. B. mit dem Dialekt oder der Jugendsprache. Ein guter Stil ist ebenfalls eine wichtige Kompetenz in diesem Lernbereich. Hierzu findest du einige Infos und Übungen.</p>
<p>Im Laufe deiner Schulzeit, aber auch später im Beruf bist du immer wieder gefordert, ganz unterschiedliche Texte zu verfassen. Dementsprechend geht es im Lernbereich Schreiben, deine Fähigkeiten im Schreiben von verschiedenen Textformen zu verbessern. Dabei geht es um ganz unterschiedliche Textformen. Du lernst zum Beispiel, wie du informierende oder formelle Texte, z. B. einen Informationstext oder einen Lebenslauf, verfasst. Du erfährst hier aber auch, wie du argumentierende oder erörternde Texte verfasst und wie du eine Zusammenfassung schreibst. Bei den kreativen und erzählenden Texten schreibst du spannende Geschichten oder erzählst aus einer anderen Perspektive.</p>
<p>Ganz wichtige und zugegebenermaßen manchmal ganz schön mühselige Themen sind Rechtschreibung und Zeichensetzung. In diesem Lernbereich geht es also um die Rechtschreibstrategien und –regeln, die dir helfen, fehlerfreie Texte zu schreiben, und deine Kenntnisse in Sachen Groß-/Kleinschreibung sowie Getrennt-/Zusammenschreibung. Auch zur richtigen Zeichensetzung findest du in kapiert.de Übungen, um fit zu werden, was du mit ein bisschen Übung sicherlich auch bald bist!</p>

